<p>Hi,</p>
<p>
  Somebody (hopefully you!) requested to add <%= mail_to @subscriber.email %> to
  the events mailing list for
  <a href="https://hackathons.hackclub.com">https://hackathons.hackclub.com</a>.
</p>
<p>
<b>
  <%= link_to 'Click here',
    confirm_v1_event_email_subscribers_url(
      token: @subscriber.confirmation_token
  ) %> to confirm your email.
</b>
If you don't want to subscribe, you can safely ignore this email.
</p>
<p>- Hack Club</p>
