<p>Hi,</p>
<p>
  Somebody (hopefully you!) requested to add <%= mail_to @subscriber.email %> to
  the events mailing list for
  <a href="https://hackathons.hackclub.com">https://hackathons.hackclub.com</a>.
</p>
<p>
  Subscribing means that you'll receive an automated email whenever a new event
  is added in your area. We'll never spam you and you can always unsubscribe.
</p>
<p>
  To confirm, please
  <%= link_to 'click this link',
    confirm_v1_event_email_subscribers_url(token: @subscriber.confirmation_token) %>.
  If you don't want to subscribe, you can safely ignore this email.
</p>
<p>- Hack Club</p>
