<p>Hi,</p>
<p>
  This email is to confirm the unsubscription of
  <%= mail_to @subscriber.email %> from the mailing list for
  <a href="https://hackathons.hackclub.com">https://hackathons.hackclub.com</a>.
</p>
<p>
  You won't receive future emails about upcoming events in your areas. If you'd
  like to resubscribe in the future, go ahead and fill out the form on
  <a href="https://hackathons.hackclub.com">https://hackathons.hackclub.com</a>.
</p>
<p>- Hack Club</p>
