---
http_interactions:
- request:
    method: post
    uri: https://api.c9.io/user/org/ENV[cloud9_team_name]/invite?access_token=ENV[cloud9_access_token]
    body:
      encoding: UTF-8
      string: '{"email":"asdf"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-Backend:
      - api
    body:
      encoding: UTF-8
      string: '{"error":{"code":500,"hostname":"newclient-gce-usw-153-prod","scope":"api","message":"There
        was an error sending the invite. Please try again."}}'
  recorded_at: Wed, 12 Oct 2016 20:59:32 GMT
recorded_with: VCR 3.0.3
