<p>Hi 👋,</p>

<p>You requested a login code for <a href="https://hackclub.com">Hack Club</a>. It's here:</p>

<pre style="text-align:center;background-color:#ebebeb;padding:8px;font-size:1.5em;border-radius:4px">
  <b><%= @login_code %></b>
</pre>
<p>It will expire in 15 minutes.</p>

<p>Tip: you can double-click the box to copy-paste the whole thing, including the dash in the middle.</p>

<p>- Hack Club</p>
