# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

common: &common
  google_maps_api_key: <%= ENV.fetch("GOOGLE_MAPS_API_KEY") %>
  streak_api_key: <%= ENV.fetch("STREAK_API_KEY") %>
  streak_club_pipeline_key: <%= ENV.fetch("STREAK_CLUB_PIPELINE_KEY") %>
  streak_leader_pipeline_key: <%= ENV.fetch("STREAK_LEADER_PIPELINE_KEY") %>
  cloud9_username: <%= ENV.fetch("CLOUD9_USERNAME") %>
  cloud9_password: <%= ENV.fetch("CLOUD9_PASSWORD") %>
  cloud9_team_name: <%= ENV.fetch("CLOUD9_TEAM_NAME") %>

  # For outreach:teacher_emails tasks
  streak_outreach_school_pipeline_key: <%= ENV.fetch("STREAK_OUTREACH_SCHOOL_PIPELINE_KEY") %>
  streak_outreach_teacher_pipeline_key: <%= ENV.fetch("STREAK_OUTREACH_TEACHER_PIPELINE_KEY") %>

development:
  <<: *common
  secret_key_base: 6d02f9126a44347e07442fddf774b6a434a85b86e23629eab947c9c101b8aa878ad8fe5dadba26a3341f1a16f480068ae5234861cb7b913f526a0e96a21fcc7d

test:
  <<: *common
  secret_key_base: 7690707d9315088014cce0ab1384a190c8d12cabc0a25d54ec937ee961c0fea23794db571bd4ba3e3ca3e6b9d1229ddbced73015510ddf1b8dbe0839881f4011

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  <<: *common
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
