<p>Hi,</p>
<p>
  Somebody (hopefully you!) requested to add <%= mail_to @subscriber.email %> to
  the events mailing list for
  <a href="https://hackathons.hackclub.com">https://hackathons.hackclub.com</a>.
</p>
<p>
  <b>
    <%= link_to 'Click here to confirm your email.',
      confirm_v1_event_email_subscribers_url(token: @subscriber.confirmation_token) %>
  </b>
  We'll never spam you and you can always unsubscribe.
</p>
<p>- Hack Club</p>
