<p>Hi,</p>
<p>
You've been added to an application to start a
<a href="https://hackclub.com">Hack Club</a>
<%= "at #{@high_school}" if @high_school.present? %>
by <%= mail_to @adder_email %>.
</p>
<p>
Please log in at
<%= link_to 'https://hackclub.com/apply',
  "https://hackclub.com/apply?email=#{@user_email}" %>
to view the application and make edits.
</p>
<p>- Hack Club</p>
