<p>Hi,</p>
<p>
  Somebody (hopefully you!) requested a login code to access the application
  dashboard for <a href="https://hackclub.com">Hack Club</a>.
<p>
  Your login code is <b><%= @login_code %></b>. It will expire in 15 minutes.
<p>
<p>- Hack Club</p>
