---
http_interactions:
- request:
    method: post
    uri: https://api.c9.io/user/org/ENV-cloud9_team_name/invite?access_token=<CLOUD9_ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: '{"email":"duplicate@example.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Backend:
      - api
    body:
      encoding: UTF-8
      string: '{"error":{"code":409,"hostname":"newclient-gce-usw-144-prod","scope":"api","message":"Invite
        already exists for e-mail address."}}'
  recorded_at: Wed, 19 Oct 2016 11:52:59 GMT
- request:
    method: post
    uri: https://api.c9.io/user/org/ENV-cloud9_team_name/invite?access_token=<CLOUD9_ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: '{"email":"duplicate@example.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Backend:
      - api
    body:
      encoding: UTF-8
      string: '{"error":{"code":409,"hostname":"newclient-gce-usw-122-prod","scope":"api","message":"Invite
        already exists for e-mail address."}}'
  recorded_at: Wed, 19 Oct 2016 11:53:00 GMT
recorded_with: VCR 3.0.3
