<!DOCTYPE html>
<html>
  <head>
    <% if @stylesheet %>
      <link rel="stylesheet" href="/github.css">
      <style>
       thead, tfoot {
         display: table-row-group;
       }

       tr {
         page-break-inside: avoid;
       }

       .hc-attribution {
         width: 30%;
         position: fixed;
         right: 0;
       }
      </style>
    <% end %>
  </head>
  <body>
    <% if @stylesheet %>
      <img class="hc-attribution" src="/workshop_attribution.svg">
    <% end %>
    <div class="markdown-body">
      <%= raw(@html) %>
    </div>
  </body>
</html>
